// Text classes
.text-bold {
  font-weight: $fontBold;
}

.text-center {
  text-align: center;
}

.text-left{
  text-align: left;
}

// class flexbox
.flex-container {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-sp-between {
  justify-content: space-between;
}

// написать классы по выравниванию по правому, левому краю

// class position fixed
.fixed-to-top {
  position: fixed;
  z-index: 99;
  top: 0;
}